body {
    font-size: 1em;
    font-family: courier, monospace;
    line-height: 1.5em;
    margin-left: calc(50% - 200px);
    margin-top: calc(5%);
    padding: 0;
    background-color: #000;
    width: auto;
    height: auto;
    overflow-x: hidden;
}

@media all and (max-width:650px){  
	body {
		margin-left: calc(5%);
    	margin-top: calc(5%);
	}
}

.container-skills {
	width: 350px;
}

.container {
	overflow:auto;
    font-family: courier, monospace;
    color: #fff;
    width: 750px;
    font-size: 14px;
}

.container ul {
	list-style:none;
	padding:0px;
	margin:0px;
}
.container ul li {
	display: inline;
}

.key-value {
	overflow: auto;
	width: 100%;
}

.key {
	width: 15%;
	float: left;
	color: #333;
}

.two-dots {
	width: 2%;
	float: left;
	color: #222;
}

.value {
	width: 75%;
	float: left;
	color: #fff;
}

.value a {
    font-size: 1em;
    letter-spacing: 0.0625px;
    font-family: courier, monospace;
    text-decoration: none;
    color: #3B94D9;
}

.item {
	width: 10%;
	color: #fff;
}

.name {
    font-family: courier, monospace;
    font-size: 28px;
    color: #777;
    text-align: center;
    letter-spacing: 0px;
}

.comment {
	font-family: courier, monospace;
    font-size: 14px;
    color: #777;
    text-align: left;
    letter-spacing: 0px;
}